/* PHASE 4: Footer */

.footer {
  display: flex;
  justify-content: space-between;
  width: 900px;
  font-size: 14px;
  background-color: white;
  margin: 0 auto 50px auto;
  border: 1px solid #ccc;
  color: #aaa;
  border-top: none;
}

.footer-elements{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* float: right; */
  padding: 20px;
}

.logo{
  padding: 20px;
}

.footer-elements li{
  margin: 0 10px;
}

.footer-elements li:hover{
  background-color: white;
  color: black;
}
